<h1>Summary</h1>
@model WebProject.Models.CartVM
@{
    ViewData["Title"] = "Summary";
}


<form method="post" asp-controller="orderProduct" asp-action="OrdrerSuccess">
                <div class="row">
                    <div class="col-md-8 mb-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Shipping details</h5>
                            </div>
                            <div class="card-body">
                                <!-- Shipping details content -->
                                <form method="post">
                                    <div class="row">
                                        <div class="col-md-8 mb-4">
                                            <div class="card mb-4">
                                                <div class="card-header py-3">
                                                    <h5 class="mb-0">Shipping details</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row mb-4">
                                                        <div class="col">
                                                            <div class="form-outline">
                                                                <input type="text" value="@Model.OrderDetail.Name" class="form-control" readonly />
                                                                <label class="form-label">Name</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <input type="number" value="@Model.OrderDetail.PhoneNumber" class="form-control" readonly />
                                                        <label class="form-label">Phone</label>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <input type="text" value="@Model.OrderDetail.Address" class="form-control" readonly />
                                                        <label class="form-label">Address</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Order Summary</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    @foreach (var item in Model.ListCart)
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            @item.product.name
                                            <span>@(item.product.price * item.quantity) Dt</span>
                                            <small>QTY: @item.quantity</small>
                                        </li>
                                    }
                                </ul>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <h5>Total:</h5>
                                    <span>@Model.OrderDetail.price Dt</span>
                                </div>
                                <div class="d-grid mt-3">
                                    <button type="submit" class="btn btn-success">Proceed to Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


